* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    vertical-align: middle;
}

body {
    font-family: 'Times New Roman', Times, serif;
    min-height: 100vh;
    background-image: radial-gradient(whitesmoke);
    display: flex;
    flex-direction: column;
    
}

header, footer{
    position: sticky;
    background-color: #1e293b;
    color: whitesmoke;
    text-align: center;
}

header {
    top: 0;
    z-index: 1;
}

.homelogo{
    color: whitesmoke;
    padding: 0.5rem;
    font-weight: bolder;
    display: inline-flex;
    float: left;
    overflow: hidden;
}

.homelogo > a, a:visited, .dropdown button {
    color: whitesmoke;
    padding: 0.5rem;
    text-decoration: none;
}

.homelogo > a:hover, a:focus,  .dropdown button:hover, button:focus{
    background-color: rgba(48, 41, 176, 0.5);
}

.headerbar {
    /* background-color:white; */
    color: whitesmoke;
    padding: 0.5rem;
    font-weight: bolder;
    display: inline-flex;
    justify-content:right;
    float: right;
    overflow: hidden;
}

.headerbar > a, a:visited, .dropdown button {
    color: whitesmoke;
    padding: 0.5rem;
    text-decoration: none;
}

.headerbar > a:hover, a:focus,  .dropdown button:hover, button:focus{
    background-color: rgba(48, 41, 176, 0.5);
    /* color: hsla(0, 0%, 20%, 0.6); */
}

.dropdown > .dropbtn {
    background-color: inherit;
    color: inherit;
    font-weight: inherit;
    font-family: inherit;
    font-size: inherit;
    border: none;
    outline: none;
    margin: 0;
    min-width: 150px;
}

.dropdown > button img {
    height: 1.5rem;
    width: auto;
    float: left;
    margin-right: 5px;
    border-radius: 50%;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 150px;
    min-width: fit-content;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
}

.dropdown-content :nth-child(2){
    border-top: 1px solid #000;
    padding: 1rem;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: rgba(48, 41, 176, 0.5);;
}

.dropdown:hover .dropdown-content {
    display: block;
}

main {
    flex-grow: 1; /* grow to fill out the available space */
}

footer {
    bottom: 0;
}

/*search button */
.search-container{
    width:100%;
    /* min-height: 10vh; */
    padding: 5%;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar{
    display: flex;
    width: 100%;
    /* max-width: 700px; */
    background: #1e293b;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
}

.search-bar input{
    background: transparent;
    flex:1;
    border: 0;
    outline:none;
    padding: 24px 20px;
    font-size: 20px;
    color: white;
}

.search-drop {
    display: none;
    max-width: fit-content;
    width: inherit;
    background: #1e293b;
    align-items: right;
    border-radius: 60px;
    padding: 10px 20px;
}

.search-container img{
    height: 5vh;
}


/* edit button */
    .editlist {
        /* float: right; */
        width: 5rem;
        height: auto;
        margin: 1%;
        padding: 1%;
        border: 2px solid red;
        display: block;
        color: white;
        text-align: center;
    }

/* Popout Window Stlying */

    /* The popup form - hidden by default */
    .form-popup {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 32.5%;
        top: 15%;
        width: 35%; /* Full width */
        height: 60%;
        overflow: hidden; /* Enable scroll if needed */
        background-color: white;
        padding: 5px;
        color: #333;
    }

    .spu-close-popup {
        position: absolute;
        background: red;
        color: white;
        top: -1px;
        right: -1px;
        float: right;
        border-radius: 50%;
        height: 25px;
        width: 25px;
    }

    /* Login popout */
    .form-popup > .loginPopup {
        /* box-sizing: border-box; */
        /* position: relative; */
        text-align: center;
        width: 100%;
        height: 100%;
        overflow: auto;
        /* left:40%; */
    }
    .formPopup {
        /* display: none; */
        text-align: left;
        /* transform: translate(25%); */
        border: 3px solid #999999;
        z-index: 9;
    }

    .formtext {
        background-color: #333333;
        margin: 0px;
        color: white;
    }

    .formContainer {
        max-width: 300px;
        padding: 20px;
        background-color: #fff;
    }

    .formContainer input[type=text],
    .formContainer input[type=password] {
        width: 90%;
        padding: 15px;
        margin: 5px 0 20px 0;
        border: none;
        background: #eee;
    }

    .formContainer input[type=text]:focus,
    .formContainer input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }

    .formContainer .btn {
        padding: 12px 20px;
        border: none;
        background-color: #8ebf42;
        color: #fff;
        cursor: pointer;
        width: 100%;
        margin-bottom: 15px;
        opacity: 0.8;
      }

    .formContainer .cancel {
        background-color: #cc0000;
    }

    .formContainer .btn:hover,
    .openButton:hover {
        opacity: 1;
    }

    /* map styles */
        .mapstlye {
            width: 100%;
            overflow:auto;
            align-content: center;  
        }


        #popup {
            position: absolute;
            z-index: 9999;
            background-color: white;
            border: 1px solid black;
            padding: 10px;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
            pointer-events: none;
        }

        #popup.show {
            opacity: 1;
            pointer-events: auto;
        }

        .mapstlye img{
            display: block;
            margin: auto;
            max-width: 100%;
            max-height: 100%;
        }

        /* map {
        display: flex;
        } */

        /* Agent Details Style */
        .listinginfo{
            margin: 10px 20px 5px 20px;
            width: 95%;
            display: flex;
            /* float: left; */
            padding: 10px 0;
        }
    
        .detailsbox {
            display: inline-flex;
            padding: 15px 10px;
            border-radius: 4px;
            width: 60%;
            margin-top: 0px !important;
            margin-bottom: 5px !important;
            box-shadow: 0px 2px 5px rgba(0,0,0,0.50);
            background-color: rgb(254, 250, 244) ;
        }

        .picbox {
            display: inline-flex;
            padding: 15px 10px;
            border-radius: 4px;
            width: 39%;
            margin-left: 5px;
            margin-top: 0px !important;
            margin-bottom: 5px !important;
            box-shadow: 0px 2px 5px rgba(0,0,0,0.50);
            background-color: rgb(254, 250, 244) ;
        }

        .propbox {
            display: inline-flex;
            padding: 15px 10px;
            border-radius: 4px;
            width: 100%;
            margin-left: 5px;
            margin-top: 0px !important;
            margin-bottom: 30px !important;
            box-shadow: 0px 2px 5px rgba(0,0,0,0.50);
            background-color: rgb(254, 250, 244) ;
        }

        .headername{
            font-size: 30px;
            font-weight: bold;
            color: #222222;
            margin-left: 10px;
            float: left;
            width: 100%;
            -webkit-font-smoothing: antialiased;
        }

        .proptb{
            margin: 10px;
            width: 75%;
            text-align: left;
            /* border-bottom:1px solid black; */
            font-size: 18px;
        }
    
        .proptb > .listbox {
            /* background-color: yellow; */
            /* color: green; */
            margin: 50px 10px 10px 10px;
            border: 5px black;
        }
    
        .proptb > tr > td{
            width: 100%;
            border: 5px black;
        }
    
        .listheader{
            font-size: inherit;
            font-weight: lighter;
            color: gray;
            display: block;
        }
    
        .headerdets {
            font-size: inherit;
            margin: 5px;
            padding: 1px;
            display: block;
            width: 100%;
        }

        .listingsbox {
            display: flexbox;
            padding: 15px 10px;
            border-radius: 4px;
            width: 100%;
            margin-left: 5px;
            margin-top: 0px !important;
            margin-bottom: 30px !important;
            box-shadow: 0px 2px 5px rgba(0,0,0,0.50);
            background-color: rgb(254, 250, 244) ;
        }

        .headerfield {
            width: 100%;
            height: 100%;
            margin: 0px;
        }

        .proptb2{
            margin: 10px 5px 5px 10px;
            width: 100%;
            text-align: left;
            /* border-bottom:1px solid black; */
            font-size: 18px;
        }
    
        .proptb2 > .listbox2 {
            /* background-color: yellow; */
            /* color: green; */
            margin: 50px 10px 10px 10px;
            border: 5px black;
        }
    
        .proptb2 > tr > td{
            width: 100%;
            border: 5px black;
        }

        .viewbtn {
            /* padding: 12px 20px; */
        	border: none;
        	background-color: blue;
        	color: #fff;
        	cursor: pointer;
        	width: fit-content;
            height: 100%;
        	opacity: 0.8;
            text-align: center;
            margin: 0px 1px 0px 1px;
        }

        .deletebtn {
            /* padding: 12px 20px; */
        	border: none;
        	background-color: red;
        	color: #fff;
        	cursor: pointer;
        	width: fit-content;
        	opacity: 0.8;
            text-align: center;
            margin: 0px 1px 0px 1px;
        }

        
