* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    vertical-align: middle;
}

body {
    font-family: 'Times New Roman', Times, serif;
    min-height: 100vh;
    background-image: radial-gradient(whitesmoke);
    display: flex;
    flex-direction: column;
    
}

header, footer{
    position: sticky;
    background-color: #1e293b;
    color: whitesmoke;
    text-align: center;
}

header {
    top: 0;
    z-index: 1;
}

.homelogo{
    color: whitesmoke;
    padding: 0.5rem;
    font-weight: bolder;
    display: inline-flex;
    float: left;
    overflow: hidden;
}

.homelogo > a, a:visited, .dropdown button {
    color: whitesmoke;
    padding: 0.5rem;
    text-decoration: none;
}

.homelogo > a:hover, a:focus,  .dropdown button:hover, button:focus{
    background-color: rgba(48, 41, 176, 0.5);
}

.headerbar {
    /* background-color:white; */
    color: whitesmoke;
    padding: 0.5rem;
    font-weight: bolder;
    display: inline-flex;
    justify-content:right;
    float: right;
    overflow: hidden;
}

.headerbar > a, a:visited, .dropdown button {
    color: whitesmoke;
    padding: 0.5rem;
    text-decoration: none;
}

.headerbar > a:hover, a:focus,  .dropdown button:hover, button:focus{
    background-color: rgba(48, 41, 176, 0.5);
    /* color: hsla(0, 0%, 20%, 0.6); */
}

.dropdown button {
    background-color: inherit;
    color: inherit;
    font-weight: inherit;
    font-family: inherit;
    font-size: inherit;
    border: none;
    outline: none;
    margin: 0;
}

.dropdown > button img {
    height: 1.5rem;
    width: auto;
    float: left;
    margin-right: 5px;
    border-radius: 50%;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: inherit;
    min-width: fit-content;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
}

.dropdown-content :nth-child(2){
    border-top: 1px solid #000;
    padding: 1rem;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: rgba(48, 41, 176, 0.5);;
}

.dropdown:hover .dropdown-content {
    display: block;
}

main {
    flex-grow: 1; /* grow to fill out the available space */
}

footer {
    bottom: 0;
}

/* map styles */
    #popup {
        position: absolute;
        z-index: 9999;
        background-color: white;
        border: 1px solid black;
        padding: 10px;
        display: none;
    }

    .mapogsg img{
    height: 0.5vh;
    width: 100%;
    background-color: antiquewhite;
    }

    map {
    display: flex;
    }

